#toasts {

    --green: rgb(46, 125, 50);
    --lightgreen: rgb(237, 247, 237);
    --red: rgb(211, 47, 47);
    --lightred: rgb(253, 237, 237);
    --yellow: rgb(237, 108, 2);
    --lightyellow: rgb(255, 244, 229);

    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 20px;
    z-index: 9999;
}

.toast {
    --t: .5s;
    position: relative;
    padding: 26px 10px;
    width: 420px;
    height: 80px;
    overflow: hidden;
    border-radius: 0px;
    transform: translateX(500px);
    animation: toastShow var(--t) forwards ease-in-out;
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@keyframes toastShow {
    0% {
        transform: translateX(450px);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes toastHide {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(450px);
    }
}

.toast::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    animation-delay: 2s;
    animation: toastCountdown 5s forwards ease-in-out;
}

.toast.success, .toast.success i{
    color: var(--green);
}

.toast.success {
    background-color: var(--lightgreen);
}

.toast.success::before {
    background-color: var(--green);
}

.toast.warning, .toast.warning i{
    color: var(--yellow);
}

.toast.warning {
    background-color: var(--lightyellow);
}

.toast.warning::before {
    background-color: var(--yellow);
}

.toast.error, .toast.error i{
    color: var(--red);
}

.toast.error {
    background-color: var(--lightred);
}

.toast.error::before {
    background-color: var(--red);
}

@keyframes toastCountdown {
    0% {
        right: 0;
    }

    100% {
        right: 420px;
    }
}

.toast i{
    margin-right:  5px;
    font-size: 20px;
}